 /* Footer section  */
 .bg-footer{
  background-color:orange;
  color: #ffffffd4;
 }

.footer{
  background-color: #6d6c6c;
  color: white;
  text-align: left;
}
.footer h4{
  background-color: #6d6c6c;
  color: white;
  text-align: left;
}


 .footer-item a {
  text-decoration: none;
  color: #ffffffd5;
  margin-right: 15px;
  transition: all 0.4s;
}
.footersubmit  {
  height: 45px;
  outline: none;
  border: 2px solid  white;
  background-color: transparent;
  border-radius: 10px 0px 0px 10px;

}
.btnfooter {
  height: 45px;
  outline: none;
  border: none;
  background-color: white;
  color: black;
  border-radius: 0px 10px 10px 0px;
  transition: all 0.4s;
  margin-inline-end: 2px;
}
.btnfooter:hover {
  opacity: 0.8;
  color: orange;
  border: 2px solid white;
}

.fa-brands {
  font-size: 2rem;
  cursor: pointer;
  padding-right: 5px;
}
