.upload-container {
    margin: 0;
    padding: 0;
    /* position: relative; */
    box-sizing: border-box;
}

.sub-upload-container {
    /* margin: 50px; */
    width: 70%;
    height: 15%;
    padding: 50px;
    margin-left: 300px;
    background-color: white;
    box-shadow: 0 0 5px 0 grey;
    position: relative;
}

.upLoadImg {
    width: 150px;
    height: 100px;
    padding: 25px;
    background-color: white;
    margin-left: 80px !important;
    border: dashed var(--mycolor5);
    display: inline-block;
    border-radius: 10px;
    top: 100px;
}

.sub-upload-container1 {
    width: 80%;
    height: 250px;
    padding: 25px;
    margin: 0px auto;
    position: relative;
    left: 125px;
    background-color: white;
    box-shadow: 0 0 5px 0 grey;
    display: flex;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }
.upLoadImg1 {
    width: 150px;
    height: 100px;
    padding: 25px;
    background-color: white;
    /* margin-left: 200px !important; */
    border: dashed var(--mycolor5);
    display: inline-block;
    border-radius: 10px;
    top: 100px;
}

.upLoadImg2 {
    width: 150px;
    height: 100px;
    padding: 25px;
    background-color: white;
    /* margin-left: 250px !important; */
    border: dashed var(--mycolor5);
    display: inline-block;
    border-radius: 10px;
    top: 100px;
}

.upLoadImg3 {
    width: 150px;
    height: 100px;
    padding: 25px;
    background-color: white;
    /* margin-left: 300px !important; */
    border: dashed var(--mycolor5);
    display: inline-block;
    border-radius: 10px;
    top: 100px;
}

.php-sign{
    margin-left: 150px;
    font-size: 20px;
}
.card {
    height: 100%;
    width: 70%;
    margin-left: 300px !important;
}

.images-upload {
    padding: 30%;
}

.fa-plus {
    padding-left: 45%;
    display: flex;

}

#product-name {
    padding-left: 10px;
    margin-left: 220px;
}

.discription {
    margin-top: 20px;
    padding-top: 50px;
}


.text-muted,
.product-radio {
   margin-right: 20px;
    display: inline-block;
    padding-top: 0;
    padding-left: 250px;
    padding-right: 50px;
}

.control-product {
    height: 200px;
    width: 300px;

}

.form-select {
    display: block;
    width: 50%;
    margin-left: 230px;
    margin-top: 50px;
}

#cars {
    padding: 5px;
    width: 100px;
}

.form-text {
    margin-left: 220px;
}

.product-price--large {
    height: 38px;
    font-size: 14px;

}

.price-input__input {
    /* margin-left: 50px; */
    margin-top: 40px;
    margin-bottom: 20px;

}

.price-input__input1 {
    margin-left: 160px;
    margin-top: 50px;
}

.btn {
    background-color: #AE67DE;
    margin-top: 50px;
    border-radius: 20px;
    border: 1px solid var(--mycolor5);
}