:root {
    --mycolor1: #6DB1FF;
    --mycolor2: #F16165;
    --mycolor3: #FFBA05;
    --mycolor4: #b0d05d;
    --mycolor5: #9248db;
    --mycolor6: #00C86F;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product-category {
    width: 80%;
    height: 100vh;
    background-color: rgb(252, 249, 249);
    padding: 0;
    margin: 0 300px;
    position: relative;
   
}

.hover-effect>*:hover {
    opacity: 0.8;
    border: 2px solid var(--mycolor5)!important;
}

.card-title {
   
    font-weight: bold x;
}

.card {
   
    margin-left: 150px;
    justify-content: space-evenly;
}
/* .product-category1 {
    width: 20rem;
    background-color: #cbcece;
    padding: 30px 15px 15px 15px;
    background-color: white;
    box-shadow: 0 0 5px 0 grey;
    margin: 100px auto 0 auto;
    position: relative;
    left: 40px;
} */
.card-img-top {
min-height: 250px;

}