.main-wrapper {
    margin: 0;
    padding: 0;
    position: relative; 
    display: flex;
}

.shipping-main-container {
    padding-left: 100px;
    
}

.shipping-settings {
    padding-left: 150px;
}

#accordionFlush {
    height: 80%;
    width: 80%;
    margin-left: 350px;
    margin-top: 200px;
}
